<template>
    <div class="component-{{name}}"></div>
</template>

<script>
    
    export default {
        name: '{{name}}',
        props: {
            
        },
        mounted() {
            
        },
        methods: {

        },
    }
</script>

<style lang="scss">
    .component-{{name}} {
        
    }
</style>